<div class="who-we-are-container">
    <div class="content-wrapper">
      <div class="text-content">
        <h2 class="title">من نحن؟</h2>
        <p class="description">
          نحن طالبات بقسم المكتبات جامعة القاهرة. نؤمن بأن المكتبة هي بوابة لعوالم من الإبداع والابتكار، حيث نسعى من خلال منصتنا الرقمية إلى زيادة وعي الطلاب بتخصص المكتبات والمعلومات وتوفير مصادر لمساعدته في رحلته الأكاديمية داخل أقسام المكتبات في مختلف جامعات مصر. ونريد أيضاً المساهمة في تطوير مهارات الخريجين لمواجهة تحديات سوق العمل
        </p>
      </div>
      <div class="image-content">
        <img src="assets/wallacadmic.png" alt="طالبات يتعاونن في الدراسة">
      </div>
    </div>
  </div>